page-preferiti {

    .titolo{
        font-size: 20px;
        overflow-x: auto; /* Use horizontal scroller if needed */
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
        white-space : normal;
        text-align: center;
    }

}
