<!--
  Generated template for the PreferitiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Preferiti</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
        <ion-item-sliding *ngFor="let items of preferiti">
          <ion-item (click)="gotoDetails(items)">
              <ion-card>
              <img src="https://image.tmdb.org/t/p/w500/{{items.poster_path}}"/>
              <ion-card-content>
                <ion-card-title class="titolo">
                  {{items.title}}
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-item-sliding>
    </ion-list>

</ion-content>
