page-login {

    .contenuto{
        height:60%;
        margin-top: 20%;
        width:60%;
        margin-left: 20%;
        border-radius: 20px;
        border: 1px solid;
    }
    
    .form{
        //margin-top: 10px;
        width: 90%;
        margin-left: 7px;
        .close{
            margin-left: 80%;
        }
    }

    .button{
        height: 1.8em;
        margin-left: 23%;
    }
}
