<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="contenuto">

  <ion-list class="form">

    <button class="close" ion-button clear color="danger" icon-start (click)="close()">
        <ion-icon name='close-circle'></ion-icon>
    </button>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button class="button" ion-button color="primary" (click)="signIn()">Sign In</button>
  </div>

</ion-content>
