<!--
  Generated template for the LogicaCordovaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Logica-Cordova</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--Controllo la connessione-->
  
</ion-content>
