<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="menuIcon"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
  <ion-toolbar class="subHeader">
    <button ion-button color="dark" (click)="gotopaginaTest()">Go into paginaTest</button>
  </ion-toolbar>
  <ion-toolbar class="subHeader">
    <button ion-button color="primary" (click)="gotoLogica()">Go into Logica</button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let film of popularFilmList">
      <ion-item (click)="gotoDetails(film)">
          <ion-card>
          <img src="https://image.tmdb.org/t/p/w500/{{film.poster_path}}"/>
          <ion-card-content>
            <ion-card-title class="titolo">
              {{film.title}}
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-item-sliding>
  </ion-list> 

</ion-content>

