<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="list" *ngIf="logged;else otherMenu">
    <ion-list>
      <button menuClose ion-item (click)="openHome()">
        <ion-icon name='home' item-start></ion-icon>
        Home
      </button>
      <button menuClose ion-item (click)="showFavorite()">
        <ion-icon name='star' item-start></ion-icon>
        Preferiti
      </button>
      <button menuClose ion-item (click)="Logout()">
        <ion-icon name='exit' item-start></ion-icon>
        Logout
      </button>
    </ion-list>
  </ion-content>

  <ng-template #otherMenu>
    <ion-content class="list">
      <ion-list>
        <button menuClose ion-item (click)="openHome()">
          <ion-icon name='home' item-start></ion-icon>
          Home
        </button>
        <button menuClose ion-item (click)="openLoginModal()">
          <ion-icon name='person' item-start></ion-icon>
          Login
        </button>
      </ion-list>
    </ion-content>
  </ng-template>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>