page-pagina-test {
    .contentSearchbar{
        background-color:black;

        .rowContentSearchbar{
            width:100%;
            text-align: center;

            .colSquare{
                display: flex;

                .content {
                    width: 75%;
                    height:80%;
                    padding: 16px;
                    position: absolute;
                    color: white;
                    background-color: #2e2c2c;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
                    text-align: center;
                    border-radius: 10px;
                    .icon{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 1.7em;
                    }
                }  
            }  
            .search{
                border-radius: 10px;
                padding: 0px;
                .searchbar-search-icon{
                    color: black;
                }
                .searchbar-input{
                    font-size:12px !important;
                    border-radius: 10px;
                    background-color:#2e2c2c;
                    padding-left:26px;
                }
                .searchbar-input-container{
                    width:98%;
                }
                .searchbar-search-icon{
                    left: 2%;
                }
            }
        }
    }

    .page{
        background-color:#161515;

        .fixed{
            width:100%;
    
            .toolbar-background{
                background-color:#161515;
            }
            .toggleBar{
                background-color:#161515;
                border: 0px;
                padding-left:26px;
                padding-right:26px;
                margin-bottom:0px;
                .item-inner{
                    border-bottom: 0px;
                }
                .testo{
                    color:white;
                }
            }

        }

        //Stile per la barra con il toggle che scorre insieme alla lista
        /*.toggleBar{
            background-color:#313030;
            border: 0px;
            .item-inner{
                border-bottom: 0px;
            }
            .testo{
                color:white;
            }
        }*/
        .scroll-content{
            margin-top:158px !important;

            .rowContent{
                background-color:#212222;
                width:100%;
                border-radius: 6px;
                text-align: center;
                margin-bottom: 10%;

                .contentColumn{
                    float:left;
                    text-align:left;
                    .labelRow{
                        color:white;
                        font-size: 17px;
                        margin-left: 10px;
                    }
                    .secondRow{
                        margin-top:-20px;
                        margin-left: 9px;

                        .secondRowLabel{
                            color:white;
                            font-size: 10px;
                            span{
                                margin-right:2px;
                            }
                            .orange{
                                color:orange;
                            }
                            .blue{
                                color:blue;
                            }

                            .secondRowIcon1{
                                color: white;
                                font-size:1.8em; 
                                margin-left:3px;
                                vertical-align: sub;
                            }
                            .secondRowIcon2{
                                color: white;
                                font-size:1.8em; 
                                margin-left:5px;
                                vertical-align: sub;
                            }
                            .secondRowIcon3{
                                color: white;
                                font-size:1.8em; 
                                margin-left:5px;
                                vertical-align: sub;
                            }
                        }
                    }
                    .thirdRow{
                        margin-top:-20px;
                        margin-left: 4px;
                        
                        .thirdRowIcon{
                            color: white;
                            font-size:1.2em; 
                            margin-top: 10px;
                            margin-left: 5px;
                        }
                        .thirdRowLabel{
                            color:white;
                            font-size: 10px;
                            margin-left: 10px;
                        }
                    }
                }
                .lastIcon{
                    color: white;
                    position: absolute;
                    top: 40%;
                    left: 78%;
                    font-size: 1.7em;
                }
                .colSquare{
                    display: flex;
                    align-items: center;

                    .content {
                        width:50px;
                        height: 50px;
                        padding: 16px;
                        position: absolute;
                        color: white;
                        background-color: #323536;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
                        text-align: center;
                        border-radius: 6px;
                        margin-left: 15px;
                        .icon{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 1.7em;
                        }
                    }  
                }
            }
        }

    }

    
}

