<!--
  Generated template for the PaginaTestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
  <ion-header>

    <ion-navbar>
      <ion-title>paginaTest</ion-title>
    </ion-navbar>

    <div class="contentSearchbar">
      <ion-row class="rowContentSearchbar">
          <ion-col class="colSquare" col-2 justify-content-center align-items-center>
                <div class="content">
                  <ion-icon class="icon" name="person"></ion-icon>
                </div>
          </ion-col>
          <ion-col col-8>
              <ion-searchbar class="search" placeholder="Cerca nei tuoi percorsi"></ion-searchbar>
          </ion-col>
          <ion-col class="colSquare" col-2 justify-content-center align-items-center>
                <div class="content">
                  <ion-icon class="icon" name="person"></ion-icon>
                </div>
          </ion-col>
        </ion-row>
    </div>
  
  </ion-header>

  <ion-content class="page" padding>

    <ion-toolbar ion-fixed class="fixed">
      <ion-list-header class="toggleBar">
        <ion-label class="testo">Download all for offline use</ion-label>
        <ion-toggle color="secondary"></ion-toggle>
      </ion-list-header>
    </ion-toolbar>

    <ion-list>
        <!--Così si ha la barra con il toggle che scorre insieme alla lista
          <ion-item class="toggleBar">
            <ion-label class="testo">Download all for offline use</ion-label>
            <ion-toggle></ion-toggle>
          </ion-item>
        -->
        
        <ion-row class="rowContent">
          <ion-col col-8 class="contentColumn">
            <ion-row>
              <ion-label class="labelRow">Arezzo - Città di Castello</ion-label>
            </ion-row>
            <ion-row class="secondRow">
                <ion-label class="secondRowLabel">
                  <span>42.5 km</span><span class="blue">+2300 m</span><span class="orange">-1250m</span>
                  <ion-icon class="secondRowIcon1" name="person"></ion-icon>
                  <ion-icon class="secondRowIcon2" name="person"></ion-icon>
                  <ion-icon class="secondRowIcon3" name="person"></ion-icon>
                </ion-label>    
            </ion-row>
            <ion-row class="thirdRow">
                  <ion-icon class="thirdRowIcon" name="person"></ion-icon>
                  <ion-label class="thirdRowLabel">300 m da qui</ion-label>
            </ion-row>
          </ion-col>
          <ion-col col-4 class="colSquare" justify-content-center align-items-center>
            <div class="content">
              <ion-icon class="icon" name="person"></ion-icon>
            </div>
            <ion-icon class="lastIcon" name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row class="rowContent">
          <ion-col col-8 class="contentColumn">
            <ion-row>
              <ion-label class="labelRow">Arezzo - Città di Castello</ion-label>
            </ion-row>
            <ion-row class="secondRow">
                <ion-label class="secondRowLabel">
                  <span>42.5 km</span><span class="blue">+2300 m</span><span class="orange">-1250m</span>
                  <ion-icon class="secondRowIcon1" name="person"></ion-icon>
                  <ion-icon class="secondRowIcon2" name="person"></ion-icon>
                  <ion-icon class="secondRowIcon3" name="person"></ion-icon>
                </ion-label>
            </ion-row>
            <ion-row class="thirdRow">
                  <ion-icon class="thirdRowIcon" name="person"></ion-icon>
                  <ion-label class="thirdRowLabel">300 m da qui</ion-label>
            </ion-row>
          </ion-col>
          <ion-col col-4 class="colSquare" justify-content-center align-items-center>
            <div class="content">
              <ion-icon class="icon" name="person"></ion-icon>
            </div>
            <ion-icon class="lastIcon" name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row class="rowContent">
          <ion-col col-8 class="contentColumn">
            <ion-row>
              <ion-label class="labelRow">Arezzo - Città di Castello</ion-label>
            </ion-row>
            <ion-row class="secondRow">
                <ion-label class="secondRowLabel">
                  <span>42.5 km</span><span class="blue">+2300 m</span><span class="orange">-1250m</span>
                  <ion-icon class="secondRowIcon1" name="person"></ion-icon>
                  <ion-icon class="secondRowIcon2" name="person"></ion-icon>
                  <ion-icon class="secondRowIcon3" name="person"></ion-icon>
                </ion-label>
            </ion-row>
            <ion-row class="thirdRow">
                  <ion-icon class="thirdRowIcon" name="person"></ion-icon>
                  <ion-label class="thirdRowLabel">300 m da qui</ion-label>
            </ion-row>
            </ion-col>
            <ion-col col-4 class="colSquare" justify-content-center align-items-center>
              <div class="content">
                <ion-icon class="icon" name="person"></ion-icon>
              </div>
              <ion-icon class="lastIcon" name="arrow-forward"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row class="rowContent">
              <ion-col col-8 class="contentColumn">
                <ion-row>
                  <ion-label class="labelRow">Arezzo - Città di Castello</ion-label>
                </ion-row>
                <ion-row class="secondRow">
                    <ion-label class="secondRowLabel">
                      <span>42.5 km</span><span class="blue">+2300 m</span><span class="orange">-1250m</span>
                      <ion-icon class="secondRowIcon1" name="person"></ion-icon>
                      <ion-icon class="secondRowIcon2" name="person"></ion-icon>
                      <ion-icon class="secondRowIcon3" name="person"></ion-icon>
                    </ion-label>
                </ion-row>
                <ion-row class="thirdRow">
                      <ion-icon class="thirdRowIcon" name="person"></ion-icon>
                      <ion-label class="thirdRowLabel">300 m da qui</ion-label>
                </ion-row>
              </ion-col>
              <ion-col col-4 class="colSquare" justify-content-center align-items-center>
                <div class="content">
                  <ion-icon class="icon" name="person"></ion-icon>
                </div>
                <ion-icon class="lastIcon" name="arrow-forward"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row class="rowContent">
                <ion-col col-8 class="contentColumn">
                  <ion-row>
                    <ion-label class="labelRow">Arezzo - Città di Castello</ion-label>
                  </ion-row>
                  <ion-row class="secondRow">
                      <ion-label class="secondRowLabel">
                        <span>42.5 km</span><span class="blue">+2300 m</span><span class="orange">-1250m</span>
                        <ion-icon class="secondRowIcon1" name="person"></ion-icon>
                        <ion-icon class="secondRowIcon2" name="person"></ion-icon>
                        <ion-icon class="secondRowIcon3" name="person"></ion-icon>
                      </ion-label>
                  </ion-row>
                  <ion-row class="thirdRow">
                        <ion-icon class="thirdRowIcon" name="person"></ion-icon>
                        <ion-label class="thirdRowLabel">300 m da qui</ion-label>
                  </ion-row>
                </ion-col>
                <ion-col col-4 class="colSquare" justify-content-center align-items-center>
                  <div class="content">
                    <ion-icon class="icon" name="person"></ion-icon>
                  </div>
                  <ion-icon class="lastIcon" name="arrow-forward"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row class="rowContent">
                  <ion-col col-8 class="contentColumn">
                    <ion-row>
                      <ion-label class="labelRow">Arezzo - Città di Castello</ion-label>
                    </ion-row>
                    <ion-row class="secondRow">
                        <ion-label class="secondRowLabel">
                          <span>42.5 km</span><span class="blue">+2300 m</span><span class="orange">-1250m</span>
                          <ion-icon class="secondRowIcon1" name="person"></ion-icon>
                          <ion-icon class="secondRowIcon2" name="person"></ion-icon>
                          <ion-icon class="secondRowIcon3" name="person"></ion-icon>
                        </ion-label>
                    </ion-row>
                    <ion-row class="thirdRow">
                          <ion-icon class="thirdRowIcon" name="person"></ion-icon>
                          <ion-label class="thirdRowLabel">300 m da qui</ion-label>
                    </ion-row>
                  </ion-col>
                  <ion-col col-4 class="colSquare" justify-content-center align-items-center>
                    <div class="content">
                      <ion-icon class="icon" name="person"></ion-icon>
                    </div>
                    <ion-icon class="lastIcon" name="arrow-forward"></ion-icon>
                  </ion-col>
                </ion-row>
      </ion-list>

  </ion-content>
  
