<!--
  Generated template for the DettaglioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <ion-title>Dettaglio</ion-title>

    <ion-buttons end>
      <button ion-button clear small color="danger" icon-start *ngIf="loggato" (click)="addFavorite()">
        <ion-icon [name]='name'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="cards-bg">

        <ion-card>
      
          <img src="https://image.tmdb.org/t/p/w500/{{film.poster_path}}"/>
      
          <ion-card-content>
            <ion-card-title>
              {{film.title}}
            </ion-card-title>
            <p>
              {{film.overview}}
            </p>
          </ion-card-content>
      
          <ion-row no-padding class="icone">
            <ion-col>
              <button ion-button clear small color="danger" icon-start>
                <ion-icon name='happy'></ion-icon>
                {{film.popularity}}
              </button>
            </ion-col>
            <ion-col text-center>
              <button ion-button clear small color="danger" icon-start>
                <ion-icon name='musical-notes'></ion-icon>
                Listen
              </button>
            </ion-col>
            <ion-col>
              <button ion-button clear small color="danger" icon-start>
                <ion-icon name='share-alt'></ion-icon>
                Share
              </button>
            </ion-col>
          </ion-row>
      
        </ion-card>
      

</ion-content>
